:root {
  /* COLORS */
  --main-color: #434455;
  --dark-grey: #2e2f42;
  --blue: #4d5ae5;
  --bg-grey: #f4f4fd;
  --white: #ffffff;
  --hover: #404bbf;
  --border: #e7e9fc;

  /* FONT-FAMILY */
  --roboto: 'Roboto', sans-serif;
  --raleway: 'Raleway', sans-serif;
}
/* DEFAULT */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  background-color: var(--white);
  color: var(--main-color);
  font-family: var(--roboto);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}
.header {
  border-bottom: 1px solid var(--border);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-contacts {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);

  margin-right: 76px;
}

.logo-span {
  color: var(--dark-grey);
}

.menu-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hover);
}

.menu-link.current {
  color: var(--hover);
}

.menu-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--hover);
  border-radius: 2px;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--hover);
}
.hero {
  max-width: 1440px;
  margin: 0 auto;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;

  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover);
}

.subtitle {
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.title {
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--bg-grey);
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
.advantages-h3 {
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-descr {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team-section {
  background-color: var(--bg-grey);
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-item {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.our-team-role {
  text-align: center;
  margin-bottom: 8px;
}
.our-team-name {
  margin-bottom: 8px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover);
}

.social-icon {
  fill: var(--bg-grey);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus-within {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: var(--bg-grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus-within .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-item-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--border);
  border-top: none;
}
.footer {
  background-color: var(--dark-grey);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-right: 80px;
}
.footer-social .social-list {
  gap: 16px;
}

.footer-logo-box {
  margin-right: 120px;
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}

.footer-social-text,
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);

  padding-left: 16px;
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: var(--bg-grey);
}

.footer-corp {
  max-width: 264px;
  color: var(--bg-grey);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  padding-left: 38px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  padding: 8px 16px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-check {
  margin-bottom: 24px;
}

.modal-check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: flex;
  align-items: center;
  gap: 8px;
}
.modal-check-span {
  display: inline-flex;
}
.modal-check-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;


}

.modal-check-input:checked + .modal-check-label .modal-check-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check-link {
  color: #4d5ae5;
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;

  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
